services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    restart: always
    env_file: .env
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}
      - DB_HOST=db
      - PORT=5000
    depends_on:
      - db
    ports:
      - "5000:5000"
    networks:
      - internal

  frontend:
    build:
      context: .
      dockerfile: client/Dockerfile
    restart: always
    env_file: .env
    environment:
      - NODE_OPTIONS=--dns-result-order=ipv4first
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - internal

volumes:
  postgres_data:

networks:
  internal:
    driver: bridge
