version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

  backend:
    build: ./server
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "3001:3001"
    networks:
      - internal

  frontend:
    build: ./client
    restart: always
    env_file: .env
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - internal

volumes:
  postgres_data:

networks:
  internal:
    driver: bridge
